*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    font-size: 83.3%; // 1rem = 10px, font-size 12px = 83.3%
}

.excel{
    position: relative;
    color: $color-default;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    border-style: none;
}