*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem; 
}

.excel{
    position: relative;
    color: $color-default;
    height: 100%;
    max-width: 100%;
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    border-style: none;
}