$header-height: 3.4rem;
$toolbar-height: 4rem;
$formula-height: 2.4rem;

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #eeeeee;

$color-default: #888888;

$color-border-input: #1a73e8;

$color-border-hover: #c0c0c0;

$border-style: 2px solid $color-border-hover;

$cell-width-info: 4rem;
$cell-width: 12rem;


$height-row: 2.4rem;
